/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --white: #fff;
  --body-bg: #2B2B2B;
  --post-bg: #222222;
  --accent-pink: #FF2299;
  --accent-yellow: #FFD900;
  --error: #ff755a;
  --font-base: 'Nunito Sans', sans-serif;
}

html {
  font-size: 112.5%;
}

body {
  background-color: var(--post-bg);
  color: var(--white);
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

.container {
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.flow > * + * {
  margin-top: 0.75rem;
}

.logo-wrap {
  margin: -1rem 0 1rem;
}

.limit-width {
  max-width: 60ch;
}

a {
  color: var(--accent-pink);
  font-weight: 700;
}

a:hover {
  filter: brightness(85%);
}

a:focus {
  outline: 1px dashed currentColor;
  outline-offset: 0.1rem;
}

a:focus-visible {
  outline: 2px solid var(--accent-yellow);
  outline-offset: 0.25rem;
}

.nowrap {
  white-space: nowrap;
}

#mc_embed_signup {
  clear: left;
  font-size: 1rem;
  font-family: var(--font-base);
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

#mc_embed_signup form {
  text-align: center;
}

#mc_embed_signup label {
  font-size: 0.875rem;
  font-weight: 700;
  opacity: 0.8;
}

#mc_embed_signup .button {
  background-color: var(--accent-yellow);
  color: var(--body-bg);
  border-radius: 0.1rem;
}

#mc_embed_signup .button:hover {
  filter: brightness(85%);
  background-color: var(--accent-yellow);
  color: var(--body-bg);
}

#mc_embed_signup .mc-field-group input {
  display: block;
  text-indent: 2%;
  padding: 0;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: transparent;
  color: var(--error);
  margin-bottom: 0;
}

#mc_embed_signup div#mce-responses {
  width: 96%;
  margin: 0;
}

#mc_embed_signup #mce-success-response {
  color: #81fd09;
  display: none;
  margin: 0 0 0.5rem;
  padding: 0;
  width: 100%;
  font-size: 0.875rem;
}

#mc_embed_signup div.response {
  margin: 0 auto 1em auto;
  float: none;
  font-size: 0.875rem;
  padding: 0;
}
